* {
    margin: 0;
    padding: 0;
}


/*---navigation---*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: #007bff! important;
}

.navbar {
    background: #fff;
}

.navbar-toggler {
    border: none! important;
}

.nav-link {
    color: #555! important;
    font-weight: 600;
    font-size: 16px;
}


/*--slider--*/

#slider {
    width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial! important;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 42px;
}


/*--about--*/

#about {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    text-align: centre;
}

#about .btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

.about-content {
    padding-top: 20px;
    text-align: centre;
}

.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}

.progress-bar {
    border-radius: 16px;
}

.progress {
    border-radius: 16px !important;
    margin-bottom: 20px;
}


/*--promo--*/

#promo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, img));
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: sans-serif;
    font-size: 38px;
}


/*--price plans--*/

#price {
    padding: 40px 0;
    background-color: #efefef;
}

.single-price {
    margin: 10px auto;
    display: inline;
    float: left;
    widows: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.single-price:hover {
    box-shadow: 0 2px 20px;
}

.price-head {
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}

.price-head h2 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}

.price-head p {
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}

#price span {
    font-size: 15px;
}

.price-content {
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.price-content ul li {
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}

ul li:last-child {
    border: none;
}

.fa-check-circle {
    color: green;
    margin-right: 10px;
    font-size: 20px;
}

.fa-times-circle {
    color: red;
    margin-right: 10px;
    font-size: 20px;
}

.price-button {
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}

.buy-btn {
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}

.buy-btn:hover {
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}

a {
    text-decoration: none !important;
    color: #fff !important;
}


/*--Get In Touch--*/

#contact {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

.contact-form {
    padding: 15px;
}

.form-control {
    border-radius: 0 !important;
    border: none !important;
}

::placeholder {
    color: #999 !important;
}

.follow {
    background: #555;
    margin: 15px;
    padding: 10px;
}

.contact-info .fa-check-circle {
    margin: 10px;
    font-weight: bold;
}


/*--footer--*/

#footer {
    background: #333;
    color: #fff;
    padding: 12px;
}

.fa-heart-o {
    margin: 3px;
    color: red;
}