*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:url();
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 40px;
    color:black;
    margin-top: 250px;
    font-style: italic;
}

p{
    font-size: 24px;
    color:blue;
    font-style: oblique;
}

h3{
    font-size: 20px;
    font-style: inherit;
    color: black

}

.glyphicon-pencil{
font-size: 35px;
color: black;
float: right;
margin: 25px;

}

.col-md-5{
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px black;
    background: rgba(0,0,0,0.4);
}
.label{

    margin-top: 15px;
    font-weight: normal;
    font-size: 18px;
    color:black;
}
.form-control{
    background: transparent;
    border-radius: 0px;
    border:0px;
    border-bottom: 1px solid white;
    font-size: 18px;
    margin-top: 15px;
    height: 40px;
    color: white;
}
input[type="radio"]{
    margin-top: 22px;
}

option{
    color: gray;
}

.btn-info{
    margin-top: 20px;
    font-size: 18px;
    width: 150px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.btn-warning{
    margin-top: 20px;
    font-size: 18px;
    width: 150px;
    margin-bottom: 20px;
}
